a {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

a.glow, a.glow:hover, a.glow:focus {
  text-decoration: none;
  color: white;
  text-shadow: none;
  -webkit-transition: 250ms linear 0s;
  -moz-transition: 250ms linear 0s;
  -o-transition: 250ms linear 0s;
  transition: 250ms linear 0s;
  outline: 0 none;
}

a.glow:hover, a.glow:focus {
  color: #5bd311;
  text-shadow: -1px 1px 8px #3f9d0c, 1px -1px 8px #3f9d0c;
}


.navigation-bar-container {
  background-color: #252525;
  box-shadow: 0 5px 5px #3f9d0c, 0 0 5px #5bd311;
}

.img-container {
  width: 100%;
  max-width: 100%;
  & > .logo-style {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    height: 130px;
    background-image: url('assets/rsz_escape_room_logo.png');
    background-size: 100% 100%;
  }
}
