h4 {
  color: white;
  text-align: center;
}

.map{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 65%;
  height: 330px;
  background-image: url('location.png');
  background-size: 100% 100%;
}
