<div>
  <h4>Контакт</h4>

  <img src="../../../../../assets/images/location.png" class="map" (click)="onLinkClick(mapLink)">

  <div class="contact-info-container">
    <div class="contact-info">
      <div class="contact-icon-container">
        <img src="../../../../../assets/images/pin.png">
      </div>
      <div class="contact-text">Бул. Јане Сандански број 7, Скопје, Македонија</div>
    </div>
    <div class="contact-info">
      <div class="contact-icon-container">
        <img src="../../../../../assets/images/phone.png">
      </div>
      <div class="contact-text">+389 79 363 125</div>
    </div>
    <div class="contact-info">
      <div class="contact-icon-container">
        <img src="../../../../../assets/images/email.png">
      </div>
      <div class="contact-text">escaperoom-next@outlook.com</div>
    </div>
  </div>

  <div class="social-media-container">
    <div class="social-media">
      <img src="assets/images/facebook.png" (click)="onLinkClick(facebookLink)">
    </div>
    <div class="social-media">
      <img src="assets/images/instagram.png" (click)="onLinkClick(instagramLink)">
    </div>
  </div>
</div>
