.about-us-container{
  background-color: transparentize(#252525, 0.3);
}

h4 {
  color: white;
  text-align: center;
}

.about-us-text{
  display: block;
  color: white;
  font-size: 17px;
}

@media only screen and (max-width: 768px) {
  .about-us-text{
    font-size: 15px;
  }
}
