<div class="about-us-container">
  <h4 class="pt-4" id="about-us">За нас</h4>
  <div class="about-us-text p-3">
    <p>
      Escape room претставува друштвена, реална игра каде што сте затворени во просторија заедно со својот тим кој треба
      да се состои од максимум 4 особи.
      Целта на играта е преку решавање на логички загатки, пронаоѓање предмети и отварање на катанци да ја пронајдете
      шифрата за излез.</p>
    <p>
      Нашата приказна е следна:
      Вие сте во улога на деца на познат писател кој пред да почине во наследство остава тестамент. Бидејќи преокупирани
      од материјалните вредности и динамиката на живот сте го запоставиле својот однос кон него, тој во знак на револт
      ви приредува умствена игра преку која би можеле да го пронајдете сокриениот тестамент, но на располагање имате
      само 60 минути, ДАЛИ ЌЕ УСПЕЕТЕ???
    </p>
    <p>
      Одлична едночасовна забава, но со долготрајни импресии.
      Играта нема старосни ограничувања и е погодна за сите генерации, играта не содржи никакви страшни ефекти.
    </p>
  </div>
</div>
