.reservation-card {
  font-size: 14px;
  color: white;
  margin: auto;
  background-color: #252525;
  border: 1px solid rgba(0, 0, 0, .03);
  box-shadow: 0 5px 5px #3f9d0c, 0 0 5px #5bd311;
  overflow: hidden;

  & > form {
    padding: 2.5%;
  }
}


mat-form-field {
  width: 100%;
  padding: 0 5%;
}

h4 {
  color: white;
  text-align: center;
}

.submit-button {
  color: black;
  font-size: 15px;
  font-weight: bold;
  background-color: #5bd311;
  border: 1px solid black;
  border-radius: 5px;
  padding: 14px 25px 14px 25px;
  margin: auto;
  display: inline-block;
}

.submit-button:disabled{
  background-color: #c3c3c3;
}

:host /deep/ .mat-select-value-text {
  color: white !important;
}
.selected-value {
  color: white;
}

mat-datepicker-toggle{
  color: lawngreen;
}

mat-label{
  color: white;
}

::placeholder {
  color:lawngreen;
  opacity: 1;
}

.mat-focused .placeholder {
  color: lawngreen;
}

.placeholder  {
  color: white;
}

.no-termins{
  color: red;
}
