.reservation-section-style {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  background-color: #252525;
}

reservation-create {
  width: 35%;
  display: block;
}

contact-us {
  width: 60%;
  display: block;
}
